MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=pokehabit
MYSQL_USER=admin
MYSQL_PASSWORD=pokehabit123
# API Server Configuration
NODE_ENV=development
PORT=3000
POKEMON_ASSET_BUCKET_URL=http://localhost:3000/assets/

VITE_FIREBASE_API_KEY=abc
VITE_FIREBASE_AUTH_DOMAIN=abc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=abc
VITE_FIREBASE_MESSAGING_SENDER_ID=1234
VITE_FIREBASE_APP_ID=1:1234:web:1234abc
# FIREBASE_SERVICE_ACCOUNT can be either a JSON string or a base64 encoded JSON string
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"..."}'
